*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    border-radius: 40px;
    margin-top: 2%;  
    background: #44A08D;  

}

header{
    width: 70%;    
    margin: auto;
    overflow: hidden;    
    display: flex;
    height: 10%;
    margin-top: 2.8%;
    margin-bottom: 0.6%;
}

header h1{
    font-family: "Incosolata", Consolas, monospace;
    font-size: 45px;
    color: #ffffff;
}

.texto_2{
    position: relative;
}

.texto_2::after{
    content: '|';
    position: absolute;
    right: 0;
    color: #929292;
    background-color: #44A08D;
    width: 100%;
    animation: typing 4s steps(21) alternate infinite,
    ine 0.2s infinite;
}
@keyframes typing{
    to{
        width: 0%;
    }
}
@keyframes line {
    50%{
        color: transparent;
    }
}
.logoalura{
    height: 65%;
    padding-top: 13px;
    width: 80px;
    padding-right: 20px;
}

main{
    width: 80%;
    margin: auto;
    height: 84%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.seccion1{
    width: 60%;
    margin: auto;
    height: 85%;
}

.seccion2{
    width: 30%;
    background-color: #ffffff;
    border-radius: 25px;
    text-align: center;
    height: 105%;
    margin-top: -6%;
    color: rgb(0, 0, 0);
    overflow: hidden;
    box-shadow: 1px 1px 10px 1px black;
    border: 1px  solid black;
    box-sizing: border-box;
}

.area{
    width: 100%;
    height: 88%;
    display: block;
    resize: none;
    float: right;
    font-size: 25px;
    border-radius: 20px;
    padding: 30px;
    margin-top: -4%;
    margin-bottom: 20px;
    box-shadow: 1px 1px 10px 1px;
    border: 1px  solid black}

.btn-encriptar, .btn-desencriptar{
    width: 22%;
    height: 45px;
    border-radius: 15px; 
    margin-left: 5%;
    box-shadow: 1px 1px 10px 1px  rgb(0, 0, 0);
    font-weight: 600 ;
    cursor: pointer;
    background-color:#1b332c;
    border: 0px;
    font-family: sans-serif;
    float: right;
    color: white;
    font-size: 15px;

}
.btn-encriptar:hover, .btn-desencriptar:hover{
    background-color: rgb(253, 253, 253);
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
    transform: scale(1.0.5);
    color: #000000;
}
.contenedor-botones{
    margin-top: 10px;
}

.contenedor-munieco{
    width: 100%;
    height: 74%;
    padding-top: 90px;
    box-sizing: border-box;
    overflow: hidden;
}
.contenedor-munieco img{
    width: 95%;
    margin-top: -11%;
    animation: float 2.5s linear infinite;
}

@keyframes float {
    0%, 100%{
        transform: translateY(0rem);
    }
    50%{
        transform: translateY(-1.5rem);
    }
}


.contenedor-h3{
    width: 85%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 800;

}

.contenedor-parrafo{
    width: 85%;
    margin: auto;
    text-align: center;
    margin-bottom: 60%;
}

.contenedor-resultado{
    width: 90%;
    height: 82%;
    padding-top: 50px;
    margin: auto;
    box-sizing: border-box;
}
.contenedor-resultado h3{
    margin-bottom: 5%;
}
.contenedor-copiar{
    width: 100%;
    height: 10%;
    margin-top: 5%;
}

.btn-copiar{

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 38%;
    border-radius: 15px;
    height: 80%;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin: auto;
    cursor: pointer;
    font-family: sans-serif;
    border: 1px solid;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);

}

.btn-copiar:hover{
    transform: scale(1.1);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 1px 1px 15px 1px black;
}

.ocultar{
    display: none;
}


.check{
    width: 100%;
    height: 45%;
}
.cuadro{
    width: 10%;
    height: 40%;
    margin: auto;
    margin-top: 5%;

    background-color: #bd9c9c;
    color: #000000;
    animation: colorear 3s ,
    
    line 1s ;
}

@keyframes colorear {
    100%{
        color: transparent;
        background-color: #e61111;  /* fallback for old browsers */
    }
    }
.miVentana {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    color: white;
    background: #000000;  /* fallback for old browsers */
    height: 50%;
    width: 40%;
    border-radius: 35px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 18px 1px black;
    border-color: rgb(255, 255, 255);
    animation-duration: 0.4s;
    animation-name: slidein;
  }

  @keyframes slidein {
    0% {
      opacity: 0%;
      width: 40%;
      height: 48%;
    }

  }
.miVentana h4{
    font-size: 30px;
    width: 80%;
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    padding-top: 10% ;

}

.miVentana i{
    font-size: 90px;
    color: #ffffff;
    margin: auto;
    margin-top: -14%;

}


footer{
    height: 1%;
    font-size: 10px;    
    margin: auto;
    margin-top: -1%;

}
.iconos{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    font-size: 7px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.iconos h1{
    color: rgb(199, 198, 198);
}
.iconos i{
    font-size: 18px;
    margin-left: 10px;
    color: rgb(219, 219, 219);
    cursor: pointer;
}
.iconos i:hover{
    transform: scale(1.1);
}

@media (min-width:300px) and (max-width: 1000px) {

    header{
        margin-top: 7%;
        width: 80%;
        margin-bottom: 10px;
        margin-left: 8%;
        height: 118px;
    }
    header h1{
        padding-top: 1%;
        font-size: 55px;
    }
    header .logoalura{
        width: 15%;
        margin-right: 10px;
        height: 55%;
    }

    main{
        display: block;
    }

    .seccion1{
        margin-top: 5%;
        width: 100%;
        height: 48%;
        margin-bottom: 10%;
        

    }
    .area{
        height: 75%;
        font-size: 45px;
        border-radius: 40px;

        border: black solid;
        box-shadow: 1px 1px 10px 1px;
        margin-bottom: 4%;

    }

    .contenedor-botones{
        width: 100%;
        display: block;
        height: 20%;
        overflow: hidden;
        

    }
    .btn-desencriptar, .btn-encriptar{
        width: 45%;
        height: 84%;
        box-shadow: 1px 1px 10px 1px rgb(255, 255, 255) ;
        border: none;
        font-size: 24px;


    }
    .seccion2{
        width: 100%;
        height: 40%;
        display: block;
        margin-top: -10%;

    }
    .contenedor-munieco{
        width: 40%;
        height: 74%;
        margin: auto;
        margin-bottom: 4%;

    }

    .contenedor-munieco img{
        width: 90%;
   
    }
    .inicio{
        width: 80%;
        margin: auto;
        font-size: 20px;  
        margin-top: -2%;
    }
    .bloque{
        font-size: 15px;
    }
    .contenedor-h3{
        font-size: 28px;
    }
    footer{
        height: 2%;
        margin-top: -5%;
    }
    .resul{
        padding: 4%;
        width: 70%;
        height: 80%;
        margin: 0 auto;
    }
    .btn-copiar{
        height: 60px;
        font-weight: 900;
    }
    .contenedor-resultado h3 {
        font-size:40px;
        font-weight: 700;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: uppercase;

      }
    .contenedor-resultado p{
        font-size: 29px;
    }

    .iconos h1{
        font-size: 24px;
        width: 70%;
    }
    .iconos i{
        font-size: 30px;
    }
    

    .animacion{
        animation-duration: 0.6s;
        animation-name: slidein;
      }
      
      @keyframes slidein {

      0%{
        opacity: 0%;
      }}
    .miVentana{
        width: 80%;
        height: 30%;
    }
    .miVentana h4{
        font-size: 35px;
        width: 80%;
        margin: auto;
        margin-top: 3%;
        padding-bottom: 4%;
    }
    .miVentana i{
        font-size: 100px;
    }

}

